body {
	background-color: #7f8c8d;
	font-family: "Arial", sans-serif;
	color: black;
	font-size: 12px;
	height: 100%;
	width: 500px;
}

.background {
	background-color: white;
}

.title {
	background-color: #2ecc71;
	color: white;
	font-weight: bold;
	box-shadow: 2px 0px #27ae60; 
}
/*---------NAV BAR-------------*/
.navbar{
	background-color: #34495e;	
}

.navbar ul{
	text-align: right; 
}

.navbar li { 
	display: inline-block;
	list-style-type: none;
	padding-left: 5px; 
}

.navbar a {
	color: white;
	list-style-type: none;
	text-decoration: none;
}

/*--------HEADERS-----------*/

.header-h3{ 
border-bottom: 1px solid grey; 
padding-bottom: 2px; 
}

.header-h2 { 
font-size: 16px; 
}

/*-----------TABLE------------*/
.table { 
	border-collapse: collapse;
}

.table th, td {
	border: 1px solid grey;
}

.table-header { 
background-color: #bdc3c7
}

.code{
	background-color: #7f8c8d;
	font-family: "Courier New", monospace; 

}
/*--------Buttons-----------*/
.button {
	background-color: #3498db;
	text-decoration: none; 
	border: none;
	color: white;
}


.submit {
	background-color: #c0392b;
	text-decoration: none;
	border: none; 
	color: white;
	width: 100%;
	padding: 1em;
}

.textbox {
	display: block;
	text-decoration: none;
	width: ;
	height: ; 

}

.rightbox{
	float: right;
	overflow: hidden; 
	border-bottom: 2px solid #2c3e50;
}