body {
	background-color: #7f8c8d;
	font-family: "Arial", sans-serif;
	color: black;
	font-size: 12px;
	height: 100%;
	width: 500px;


}

.background {
	background-color: white;
}

.title {
	background-color: #2ecc71;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid #27ae60; 
}

.navbar{
	text-align: right;
	list-style-type: none;
	background-color: #34495e;
	border-bottom: 2px solid #2c3e50;
	width: 100%;
	height: 10px;

}

.navbar a { 
	float: right;
	color: white;
	text-decoration: none; 
	display: inline
}

.section-title { 
border-bottom: 1px solid grey; 
padding-bottom: 2px; 

}

.table { 
	border: 1px solid grey;
	font-family: "Arial", sans-serif;
	font-size: 12px;
}

.table-header { 
background-color: #bdc3c7
}

.code{
	background-color: #7f8c8d;
	font-family: "Courier New", monospace; 

}

.button {
	background-color: #3498db;
	text-decoration: none; 
	border: none;
	color: white;
}

.code {
	background-color: #7f8c8d;
	font-family: 
}

.submit {
	background-color: #c0392b;
	text-decoration: none;
	border: none; 
	color: white;
	width: 100%;
	padding: 1em;
}

}
.rightbox{
	float: right;
	overflow: hidden; 
	border-bottom: 2px solid #2c3e50;
}